* {
  font-family: "Poppins", "sans-serif";
}

body{
  font-family: "Poppins", "sans-serif";

}


.table-container {
  margin-top: 20px;
  overflow-x: auto; /* Enable horizontal scrolling if needed */
}

.doc-table {
  width: 100%;
  border-collapse: collapse;
}

.doc-table th,
.doc-table td {
  border: 1px solid #cccccc;
  padding: 10px;
  text-align: center;
}

.doc-table th {
  background-color: #003366;
  color: white;
}

.doc-table td {
  background-color: #ffcc00;
}

.doc-table input,
.doc-table select,
.doc-table textarea {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}
