.header {
    background-color: #275598;
    padding: 25px;
    color: #ffffff;
    text-align: center; 

  }
  
  .header-content {
    display: flex;
    justify-content: center; /* Center items horizontally */
    align-items: center;
  }
  
  .title-logo-container {
    display: flex;
    align-items: center;
  }
  
  .title {
    margin: 0;
    font-size: 20px;
    margin-right: 20px; /* Added margin to separate from the settings icon */
  }
  
  .settings-icon img {
    width: 10x;
    height:10px;
  }