* {
  font-family: "Poppins", "sans-serif";
}

.header {
  background-color: #003366;
  padding: 10px 0px 10px 0px;
  color: #ffffff;
  text-align: center;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 80%;
  z-index: 1000;
  -webkit-box-shadow: 3px 3px 30px 1.5px #939393;
  -moz-box-shadow: 3px 3px 30px 1.5px #939393;
  box-shadow: 3px 3px 30px 1.5px #939393;
}

.title-logo-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.title {
  font-size: 35px;
}

img {
  width: 50px;
}

#signout {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 120px;
  color: rgb(215, 215, 225);
  margin-right: 10px;
  gap: 10px;
}

#invidiv {
  width: 120px;
}
